body{
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  gap: 3px 3px;
}

#game{
  border: 2px solid black;
  margin-left: 100px;
  margin-top: 30px;
}

#highScores{
  border: 2px solid black;
  /* grid-area: 1 / 2 / 2 / 3;  */
  text-align: center;
  background-color: midnightblue;
  color: white;
  font-family: monospace;
  margin-right: 100px;
  margin-top: 30px;
}

#highScoreList li {
  list-style-type: none;
  font-size: 1.5rem;
}

#highScoreText {
  text-decoration: underline;
  margin-bottom: 2rem;
}

#highScoreList li:nth-child(11){
  margin-right: 1rem;
  margin-left: 1px;
}

.noShow {
  display: none;
}

.show {
  display: block;
}

#form-container{
  width: 500px;
  height: 600px;
  background-color: midnightblue;
  color: white;
  border-radius: 8px;
  margin: 0px auto;
  text-align: center;
}

#form-container #signIn, #form-container #signUp  {
  font-family: monospace;
  font-size: larger;
  margin: 0;
  padding: 100px 0;
  text-align: center;
}

#signInForm > h2, #signUpForm > h2 {
  text-decoration: underline;
}

.submit-btn {
  margin-bottom: 2rem;
}

.error {
  color: red;
  margin: 2rem 0;
}

.submit-btn, #signin-btn, #signup-btn {
  font-family: monospace;
  font-size: large;

}

#signup-btn {
  margin-top: 0px;
}

#signin-btn, #signup-btn, #anon-btn {
  background-color: cornflowerblue;
  text-decoration: none;
  border: 3px solid black;
  border-radius: 8px;
  padding: 5px 70px;
}

a#signin-btn, a#signup-btn, #anon-btn {
  color: black;
}

.submit-btn:visited, #signin-btn:visited, #signup-btn:visited, #anon-btn:visited {
  color: white;
}

#signIn, #signUp {
  margin: 0;
  padding: 0;
}

.window {
  margin: 0;
  border: 2px solid white;
  border-radius: 8px;
  padding: 0 0;
  background-color: darkblue;
}

#anon-btn {
  background-color: darkblue;
}
 
#anon-btn > a {
  color:white;
  text-decoration: none;
}
.version {
  padding: 0;
  margin: 0;
  text-align: left;
}